@import "./breakpoints.scss";

.intro {
  &__container {
    max-width: 1453px;
    width: 100%;
    margin: 0 auto;
  }

  &__cta {
    margin-top: 200px;
  }

  &__title {
    transition: transform 0.4s, opacity 0.4s;
    opacity: 1;
    width: fit-content;

    &.hide {
      transform: translateY(-10px);
      opacity: 0;
      cursor: default;
    }
  }

  &__lists {
    max-width: 500px;
    min-width: 200px;
    width: 100%;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.list__item {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  transition: color 0.4s;
}

.work-type {
  &__container {
    padding: 3.125rem;
    border: 2px solid #fff;
    max-width: 700px;
    min-width: 250px;
    width: 100%;
  }
  &__title {
    font-size: 1.25rem;
    margin-bottom: 2.125rem;
  }
  &__text {
    font-size: 1rem;
    max-width: 604px;
    width: 100%;
  }
}

@media screen and (min-width: 0) {
  .intro {
    &__title {
      font-size: 2.5rem;
    }
    &__cta {
      margin-top: 1.5rem;
    }

    &__lists {
      justify-content: center;
    }
  }
  .list__item {
    &.hide {
      color: rgba(112, 5, 7, 0);
    }
  }
}

@media screen and (min-width: $sm - 200px) {
  .intro__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: $sm - 100px) {
  .intro__title {
    font-size: 4rem;
  }
  .intro__cta {
    margin-top: 2rem;
  }
  .intro__lists {
    justify-content: space-between;
  }
}

@media screen and (min-width: $md) {
  .intro {
    &__title {
      font-size: 5.625rem;
    }

    &__cta {
      margin-top: 200px;
    }
  }

  .list__item {
    &.hide {
      color: rgba(112, 5, 7, 1);
    }
  }
}
