@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GothamBook.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GothamMedium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url(../assets/fonts/GothamBold.ttf);
  font-style: normal;
  font-weight: 600;
}
