@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./font.scss";

@import "./map.scss";
@import "./breakpoints.scss";

@import "./blocks/nav.scss";
@import "./blocks/intro.scss";
@import "./pointer.scss";

:root {
  --bs-body-font-family: "Gotham", sans-serif;
  --bs-body-color: #fff;
  --bs-body-bg: #9d090f;
}

* {
  box-sizing: border-box;
}
