@import "./font.scss";

@import "./map.scss";
@import "./breakpoints.scss";

@import "./blocks/nav.scss";
@import "./blocks/intro.scss";
@import "./pointer.scss";

* {
  font-family: "Gotham", sans-serif;
}

body {
  color: #fff !important;
  background-color: #9d090f !important;
}
